
.ReactWeather
  div
    margin 5px

  input
    margin 5px
    border-radius 5px

.cityNames
  margin 5px
  padding 2px
  border 1px solid black
  border-radius 5px


.selectCity
  @extend .cityNames
  background-color #00FF33
